@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><br/></h1>
    <p class="lead">Get More Done, Stay Organized.</p>
    <p><a href="../Chores/Create" class="btn btn-primary btn-lg">Post a Task &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="../Images/icona.png" />
        <h3>Create Tasks</h3>
        <p>
            powerful, patterns-based way <br />to build websites
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="../Images/iconc.png" />
        <h3>Manage Schedule</h3>
        <p>
            powerful, patterns-based way <br />to build websites
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="../Images/iconb.png" />
        <h3>Stay Productive</h3>
        <p>
            powerful, patterns-based way <br />to build websites
        </p>
        <p></p>
    </div>
</div>