body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #939393
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    background-image: url(../Images/Taska.PNG);
}

container {
    max-width: 100%!important;
}
.container .jumbotron {
  border-radius: 0px;
  background-color: #222222;
}
.stream{
    text-decoration: none;
    color: white;
}
.body-content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1.5px;
}

@media (min-width: 1200px){
.container {
    max-width: 100%;

}
}
.jumbotron p {
    line-height: 200px;
}
.LeftImage {
   width:100%;
    height:auto;
    float:left;
    margin-top: -10%;
    margin-left: -21%;
}
.stream p {
    text-decoration: solid;
    color:#ffffff
}
.row {
    width:99.99%;
}
.navbar-inverse {
    border-color: white;
    background-color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #3276b1;
}
.navbar-brand {
    color: #66AA33;
}
@media (min-width: 1200px) {
  .navbar > .container .navbar-brand {
      text-decoration:solid;
    color:#3276b1;
  }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  float: right;
}

.navbar-right ul > li > ul > li > a {
    text-decoration: none;
    color: #808080
}
.navbar-right ul > li > ul > li:hover a {
    text-decoration: none;
    color: #3276b1;
}

.navbar-right ul > li > ul {
    display: none;
}
.navbar-right ul > li:hover ul {
    color: #ffffff;
    display: block;
}
.lead {
    color: #3276b1;
}
